<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name ="BikeStores" connectionString="Server= .\SQLEXPRESS;Database=BikeStores;Trusted_Connection=yes;" providerName="System.Data.SqlClient" />
		</connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>